<!DOCTYPE html>
<html>
<head>
    <title>Techno Tapas</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<header>
    <img src="/static/logo.jpg" class="logo">
    <h1 class="title">Techno Tapas</h1>
</header>

<div class="page-center">

    <div class="card">

        <h2>⏰ Time Over!</h2>

        <h3 class="topic">Your Topic for Collage is <br><br>{{ topic }}</h3>

        <p class="topic">Good attempt! Sorry you could not crack the word.</p>

        <p class="marks">5 Marks Deducted.</p>

        <p class="topic">You can now proceed for the <b>Collage Round</b>.</p>

        <p class="topic"><b>All the Best!</b></p>

    </div>

</div>

</body>
</html>